@charset "UTF-8";

a {
  display: block;
  width: fit-content;
  padding: .5em 5em;
  margin: 3em auto;
  text-decoration: none;
  color: white;
  background: #024E30;
  border: 1px solid darken(#024E30, 5);
  border-radius: 25px;
  transition: ease-in-out .3s background;

  &:hover {
    background: darken(#024E30, 5);
  }
}
